{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <h1>Tournament index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>N° tournoi</th>
            <th>Starting_date</th>
            <th>Ending_date</th>
            <th>Award</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.startingDate ? tournament.startingDate|date('d M Y H:i') : '' }}</td>
                <td>{{ tournament.endingDate ? tournament.endingDate|date('d M Y H:i') : '' }}</td>
                <td>{{ tournament.Award }} €</td>
                <td>
                    <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">show</a>
                    {%  if app.user and "ROLE_ADMIN" in app.user.getRoles %}
                        <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>
                    {% endif %}
                </td>
                {%  if app.user and "ROLE_ADMIN" in app.user.getRoles %}
                    <td>{{ include('tournament/_delete_form.html.twig') }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_tournament_new') }}">Create new</a>
{% endblock %}