{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <h1>Tournament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ tournament.title  }}</td>
            </tr>
            <tr>
                <th>Starting_date</th>
                <td>{{ tournament.startingDate ? tournament.startingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ending_date</th>
                <td>{{ tournament.endingDate ? tournament.endingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tournament.description }}</td>
            </tr>
            <tr>
                <th>Award</th>
                <td>{{ tournament.Award }}</td>
            </tr>
        </tbody>
    </table>
    <div class="match-list">
        {% for game in tournament.games %}
            <p>Identifiant match: {{ game.id }}</p>
            <p>Adversaire --> TO IMPLEMENT Get player if existes and < 2</p>
            <form action="{{ path('app_game_add_user', {'id': game.id}) }}" method="post">
                <button type="submit">Participer</button>
            </form>
        {% endfor %}
    </div>
    <a href="{{ path('app_tournament_index') }}">back to list</a>

    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>

    {{ include('tournament/_delete_form.html.twig') }}
{% endblock %}
