{% extends 'base.html.twig' %}

{% block title %}Tournament
{% endblock %}

{% block body %}
	<h1>Tournament</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Titre</th>
				<td>{{ tournament.title  }}</td>
			</tr>
			<tr>
				<th>Début</th>
				<td>{{ tournament.startingDate ? tournament.startingDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Fin</th>
				<td>{{ tournament.endingDate ? tournament.endingDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ tournament.description }}</td>
			</tr>
			<tr>
				<th>Récompense</th>
				<td>{{ tournament.Award }}</td>
			</tr>
		</tbody>
	</table>
	<div class="match-list">
		{% if tournament.nbPlayers > 3 %}
			{% set points = [] %}
			{% for playerPoints in playersPoints | sort | reverse %}
				{% set points = points|merge([playerPoints]) %}
			{% endfor %}
			<h1>Classement des joueurs</h1>
			{% set pseudos = [] %}
			{% for game in tournament.games %}
				{% if game.description == 3 or game.description == 4 %}
					{% for player in game.players %}
						{% set pseudos = pseudos|merge([player.pseudo]) %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			{% for i in range(0, 3) %}
				{{ pseudos[i] }} : {{ points[i]}} points <br>
			{% endfor %}
			{% for game in tournament.games %}
				<p>Match :{{ game.description }}</p>
				<p>Liste des joueurs :</p>
				<ul>
					{% for player in game.players %}
						<li>{{ player.pseudo }}</li>
					{% endfor %}
				</ul>
				{% if app.user and "ROLE_ADMIN" in app.user.getRoles %}
					{% if game.winner == null %}
						<form action="{{path('app_game_setWD', {id: game.id})}}" method="POST">
							<label for="gagnant">Gagnant</label>
							<select name="gagnant" id="">
								{% for player in game.players %}
									<option value="{{player.id}}">{{ player.pseudo }}</option>
								{% endfor %}
							</select>
							<label for="perdant">Perdant</label>
							<select name="perdant" id="">
								{% for player in game.players %}
									<option value="{{player.id}}">{{ player.pseudo }}</option>
								{% endfor %}
							</select>
							<button type="submit">Valider</button>
						</form>
					{% else %}
						<p>Gagnant :
							{{game.winner}}</p>
						<p>Perdant :
							{{game.defeated}}</p>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% else %}
			<h1>Liste des joueurs inscrits</h1>
			<ul>
				{% for player in players %}
					<li>{{ player.pseudo }}</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>
	<a href="{{ path('app_tournament_index') }}">back to list</a>
	{% if app.user and "ROLE_ADMIN" in app.user.getRoles %}
		<a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>

		{{ include('tournament/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
