<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <title>{% block title %}Gamer Booking{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.png') }}">
</head>
<body>
<header>
    <div>
        <img src="{{ asset('images/logo.jpg') }}" alt="logo" height="90" id="logo">
    </div>
    <div>
        <h1>Welcome to Gamer Booking !</h1>
    </div>
    <div class="menu">
        <a class="menuLink" href="{{ path ('app_tournament_index') }}">Tournois</a>
        {% if (app.user) %}
					<a class="menuLink" href="{{ path('app_logout') }}">Logout</a>
					<h1>Hello {{app.user.pseudo}} !</h1>
				{% else %}
					<a class="menuLink" href="{{ path('app_login') }}">Login</a>
					<a class="menuLink" href="{{ path('app_register') }}">Register</a>
				{% endif %}
    </div>
</header>
{#//FLASH MESSAGES
<div class="flash">
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>#}
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <p>FOOTER {{ date() | date('Y') }}</p>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>