{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	{% if "ROLE_ADMIN" in app.user.getRoles  %}
		<table class="table">
			<thead>
				<tr>
					<th>Pseudo</th>
					<th>Email</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Classement</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.pseudo }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.surname }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.ranking }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    {% else %}
       Vous n'êtes pas autorisés à consulter la liste des utilisateurs     
	{% endif %}

{% endblock %}
